h1, h3, p, em {
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
}

.chatids-list p {
    margin-bottom: 5px;
}

section.controls p {
    margin-bottom: 5px;
}

p, em {
    text-align: left;
    padding-left: 15px;
}

p {
    margin-top: 15px;
}

.progress p.bar {
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 0;
}

em {
    margin: 0 auto 10px auto;
    font-size: small;
}

li {
    list-style: none;
}

ul {
    display: block;
    margin: 3px auto;
    padding: 0;
    width:fit-content;
}

input:not(.chat-id) {
    display: block;
    margin: auto;
    text-align: center;
    width: 80px;
}

#logs {
    width: 100%;
    height: 200px;
}


.input-error {
    border: 1px solid red;
}

div.error-popup {
    visibility: hidden;
    opacity: 0;

    display: block;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    background-color: grey;
}
div.error-popup p {
    display: block;
    position: relative;
    height: fit-content;
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 10px;
    color: rgb(173, 3, 3);
}

div.error-popup.show {
    opacity: 1;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn; 
    animation-duration: 0.5s;   
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
    visibility: visible; 
}
@keyframes fadeIn {
    0% {opacity: 0.0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0.0;}
    100% {opacity: 1;}
}

div.error-popup.hide {
    opacity: 0;
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut; 
    animation-duration: 0.5s;   
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
    visibility: visible; 
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0.0;}
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0.0;}
}